<div class = 'card'>
  <div class = 'card-body'>
    <i class = 'material-icons md-18'>face</i>
    <p class = 'card-title card-email'><%=user.local.email-%></p>
  <h6 class="card-subtitle mb-2 text-muted">Account Details</h6>
    <table class = 'table table-hover table-bordered'>



    <tr>
    <th scope = 'row'>Balance</th>
    <td><%=user.local.debitAmount-%></td>
      </tr>
      <tr>
      <th scope = 'row'>Credit</th>
      <td><%=user.local.creditAmount-%></td>
        </tr>

        <tr>
        <th scope = 'row'>Credit Score</th>
        <td><%=user.local.creditScore-%></td>
          </tr>

          <tr>
          <th scope = 'row'>Credit Card</th>
          <td><%=user.local.creditCardNumber-%></td>
            </tr>
            <tr>
            <th scope = 'row'>Debit Card</th>
            <td><%=user.local.debitCardNumber-%></td>
              </tr>
    </table>
    <form class="" action="/logout">
      <button type="button" name="button">logout</button>
    </form>
  </div>
</div>
